extends layout
include mixins/prompt-install

block content
    if isZoom
        #main
            h1= title
            button.hidden#toggle-view Toggle View

        .hidden#immersive
            canvas#immersive-canvas
            p= participantContexts['user1']
            p= participantContexts['user2']
            p= participantContexts['user3']
    else
        +prompt-install(title, installURL)

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')

