mixin chat-interface(chatTarget, chatHistory)
    #chat-container
        h2.title.is-4 Chat with #{chatTarget}'s Context
        #chat-messages.mb-3
            each message, index in chatHistory
                if index % 2 === 0
                    .message-wrapper.user-message.is-flex.is-justify-content-flex-end
                        .box
                            p= message
                else
                    .message-wrapper.agent-message
                        .box
                            p= message
        .field.has-addons
            .control.is-expanded
                input.input#chat-input(type='text' placeholder='Type your message...')
            .control
                button.button.is-primary#chat-submit Send
